h1 {
    font-family: "nyt-karnakcondensed";
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.tile {
    width: 50px;
    height: 50px;
    border: 2px solid #d3d6da;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

#keyboard {
    margin-top: 20px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.key {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    margin: 0 2px;
    cursor: pointer;
    background-color: #d3d6da;
    border: none;
    border-radius: 4px;
}

